<section>
<div class="contents order-2 order-md-1">
  <div class="container">
    <div class="row align-items-center justify-content-center">
    <table class="table table-striped" id="DataTable">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">User</th>
          <th scope="col">Address</th>
          <th scope="col">Amonunt</th>
          <th scope="col">Status</th>

        </tr>
      </thead>
      <tbody>
        {{#each ordersList}}
          <tr>
            <td>{{inc @index}}</td>
            <td>{{this.Date}}{{this.time}}</td>
            <td>{{this.deliveryDetails.Name}}</td>
            <td>{{this.deliveryDetails.Name}},
              {{this.deliveryDetails.House}},
              <br />
              {{this.deliveryDetails.Street}},<br />
              {{this.deliveryDetails.PIN}},
              {{this.deliveryDetails.Mobile}}
            </td>
            <td>₹{{this.Total}}
              <br />
              {{this.PaymentMethod}}</td>
            <td>
              <div class="dropdown">
                <button
                  type="button"
                  class="btn btn-primary  dropdown-toggle p-1"style=" height: 2em;width:7em;"
                  data-bs-toggle="dropdown" value="{{this.Status}}" 
                  onclick="statusChecker('{{this._id}}')" >
                  {{this.Status}}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/admin/shipped/{{this._id}}">Shipped</a></li>
                  <li><a class="dropdown-item"href="/admin/delivered/{{this._id}}">Delivered</a></li>
                  <li><a class="dropdown-item" href="/admin/cancelled/{{this._id}}">Canceled</a></li>
                </ul>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  </div>
  </div>  
</section>