 <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.js'></script><script  src="./script.js"></script>
<style>
    body {
	line-height: 18px;
	background: #f4f4f4;
}

.list-wrapper {
	padding: 15px;
	overflow: hidden;
}

.list-item {
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.list-item h4 {
	color: #1e73eb;
	font-size: 18px;
	margin: 0 0 5px;	
}

.list-item p {
	margin: 0;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #1e73eb;
	border-color: #1e73eb;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #015cdb;
    
    
}
</style>

<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">
        <div class="row">
            <di v class="col-12">
                <div class="section-title">
                    <h2>Products For You</h2>
                </div>
            </di>
        </div>
        <div class="row">
            {{#each product}}
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Product -->
	           <div class="list-item">
                <div class="single-product">
                    <div class="product-image">
                        <img src="/product-images/{{this._id}}a.jpg" class="card-img-top" alt="Product image">
                        {{#if this.offer}}
                        <span class="sale-tag">-{{this.proOfferPercentage}}%</span>
                        {{/if}}
                        <div class="button">
                            <a onclick="addToCart('{{this._id}}')" class="btn"><i class="lni lni-cart"></i> Add to
                                Cart</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <span class="category">{{this.category}}</span>
                        <h4 class="title">
                            <a href="/view-singleProduct/{{this._id}}">{{this.name}}</a>
                        </h4>
                        {{#if this.offer}}
                        <div class="price">
                            <span>₹{{this.price}}</span>
                            <span class="discount-price">₹{{this.actualPrice}}</span>
                        </div>
                        {{else}}
                        <div class="price">
                            <span>₹{{this.price}}</span>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
             </div>
            {{/each}}

        </div>
    </div>
    </div>
</section>
    <div class="p-3"  id="pagination-container"></div>
<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>


<script>
    var items = $(" .list-item");
    var numItems = items.length;
    var perPage = 8;

    items.slice(perPage).hide();

    $('#pagination-container').pagination({
        items: numItems,
        itemsOnPage: perPage,
        prevText: "&laquo;",
        nextText: "&raquo;",
        onPageClick: function (pageNumber) {
            var showFrom = perPage * (pageNumber - 1);
            var showTo = showFrom + perPage;
            items.hide().slice(showFrom, showTo).show();
        }
    });
</script>

 