
{{!-- This is my checkout page --}}

<div class="container">
  <div class="row">
    {{#each address}}
    <div class="col-sm-4 p-4">
      <div class="card">
        <div class="card-body">

          <div class="text-center">
            <h6 class="margin">Address </h6>
            <span>{{this.Name}}
              ,{{this.House}}(house),
              <br />
              {{this.Town}},{{this.Street}}-{{this.PIN}}
              <br />Ph :{{this.Mobile}}
            </span>
          </div>

        </div>
        <div class="text-center  mb-2">
          <button class="btn btn-primary "
            onclick="autoFill('{{this.Name}}','{{this.House}}','{{this.Street}}','{{this.Town}}','{{this.PIN}}','{{this.Mobile}}','{{this.Email}}')">
            Choose
          </button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<section class="checkout-wrapper section">
  <div class="container">
    <div class="row">
      <div class="row justify-content-center">
        <form action="" id="checkout-form" class="mt-1" method="POST">
          <div class="col-lg-7 float-start">
            <div class="checkout-steps-form-style-1">
              <ul id="accordionExample">
                <li>
                  <h6 class="title collapsed text-primary">Shipping Address</h6>
                  <section class="checkout-steps-form-content collapse show">

                    <div class="row">
                      <div class="col-md-12">
                        <div class="single-form form-default">
                          <label>Full Name</label>
                          <div class="row">
                            <div class="form-input form">
                              <input type="text" id="fname" name="Name" placeholder="Enter Your Full Name" />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="single-form form-default">
                          <label>House Name</label>
                          <div class="form-input form">
                            <input type="text" id="house" name="House" placeholder="House Name" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="single-form form-default">
                          <label>Street Address</label>
                          <div class="form-input form">
                            <input id="street" name="Street" type="text" placeholder="Street Address" />
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="single-form form-default">
                          <label>City</label>
                          <div class="form-input form">
                            <input type="text" id="city" name="Town" placeholder="Town / City" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="single-form form-default">
                          <label>Postcode / ZIP</label>
                          <div class="form-input form">
                            <input type="tel" id="pin" name="PIN" maxlength="6" onkeypress="return isNumber(event)"
                              required placeholder="Post Code" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="single-form form-default">
                          <label>Phone</label>
                          <div class="form-input form">
                            <input type="tel" id="phone" onkeypress="return isNumber(event)" name="Mobile"
                              maxlength="10" placeholder="Phone" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="single-form form-default">
                          <label>Email Address</label>
                          <div class="form-input form">
                            <input type="text" id="email" name="Email" placeholder="Email Address" />
                          </div>
                        </div>
                      </div>
                      <input type="text" name="userId" value="{{userId}}" hidden />
                    </div>

                  </section>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 float-end">
            <div class="checkout-sidebar">
              <div class="checkout-sidebar-coupon">
                <div class="row">
                  {{#if userDetails.wallet}}
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body1">
                        <div class="card-body floart-end">
                          <div class="text-center">
                            <div>
                              <img style="height: 40px;"
                                src="https://lh3.googleusercontent.com/ohLHGNvMvQjOcmRpL4rjS3YQlcpO0D_80jJpJ-QA7-fQln9p3n7BAnqu3mxQ6kI4Sw"
                                alt="wallet">
                            </div>
                            <span>Balance = ₹{{userDetails.wallet}} </span>
                          </div>
                        </div>
                        <input type="text" id="Totalpro" name="Totalpro" value="{{total}}" hidden>
                        <div class="form-input form text-center">
                          <input type="text" placeholder="₹ Enter the amount" id="wallet" name="walletAmount"
                            style="width: 50%; height: 36px; padding-right: 1px;" />
                        </div>
                        <div class="button text-center p-2">
                          <a id="couponBtn" onclick="applayWallet()" class="btn"
                            style="width: 113px; height: 34px;padding: 6px; ">apply</a>
                        </div>
                        <div class="alert alert-danger" style="display: none;" id="valueNotCorrect" role="alert">
                          Enter the Correct Amount
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/if}}
                </div>
                <br>

                <p>Appy Coupon to get discount!</p>

                <div class="single-form form-default">
                  <div class="form-input form">
                    <input type="text" placeholder="Coupon Code" id="couponInput" name="Coupon" />
                  </div>
                  <input type="text" id="couponTotal" name="Total" value="{{total}}" hidden>
                  <div class="button">
                    <a id="couponBtn" onclick="couponApply()" class="btn">apply</a>
                  </div>
                  {{!-- Error handling of coupons --}}
                  <div class="mt-2">
                    <div class="alert alert-danger" style="display: none;" id="couponUsed" role="alert">
                      This Coupon was redeemed
                    </div>
                    <div class="alert alert-danger" style="display: none;" id="couponInvalid" role="alert">
                      This Coupon is invalid
                    </div>
                    <div class="alert alert-success" style="display: none;" id="couponSuccess" role="alert">
                      Coupon Applied Successfully
                    </div>
                    <div class="alert alert-warning" style="display: none;" id="couponExpired" role="alert">
                      Sorry!!! Your Coupon has been Expired
                    </div>
                  </div>
                </div>

              </div>
              <div class="checkout-sidebar-price-table mt-30">

                <h5 class="title">Pricing Table</h5>

                <div class="sub-total-price">

                  <div class="total-price">
                    <p class="value">Products Total :</p>
                    <p class="price">₹ {{total}}</p>
                  </div>
                  <div class="total-price shipping ">
                    <p class="value" id="discountLabel" style="display: none;">Discount Price:</p>
                    <p class="price" id="discounttd" style="display: none;">₹ <span style="display: none;"
                        id="discount"></span> </p>
                  </div>
                  <div class="total-price">
                    <p class="value" id="newTotal" style="display: none;">New Total</p>
                    <p class="price" id="tdTotal" style="display: none;">₹ <span id="totalOriginal"
                        style="display: none;">{{total}}</span> </p>
                  </div>
                  <div class="total-price">
                    <p class="value">Shipping</p>
                    <p class="price">Free</p>
                  </div>

                </div>

                <div class="total-payable" id="newTotal">
                  <div class="payable-price">
                    <p class="value">Total :</p>
                    <p class="price">₹ <span id="ttlprc">{{total}}</span> </p>
                  </div>
                </div>
                <hr />
                <div class="payment-method">
                  <div class="payment-accordion element-mrg">
                    <div id="faq" class="panel-group">
                      <h5 class="title">Payment methods</h5>
                      <input type="radio" name="Payment" value="COD" style="width:5%;height:auto" checked />
                      <label>Cash on Delivery</label>
                      <br />
                      <input type="radio" name="Payment" value="Razorpay" style="width:5%;height:auto" />
                      <label>Razor Pay</label>
                      <br />
                      <input type="radio" name="Payment" value="Paypal" style="width:5%;height:auto" />
                      <label>Paypal</label>
                      <div id="paypal-payment-button"></div>
                    </div>
                  </div>
                </div>

                <div class="price-table-btn button">
                  <button class="btn btn-primary btn-hover" id="submit" type="submit" style="width: 100%;"
                    href="#">Place Order</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
  <i class="lni lni-chevron-up"></i>
</a>

<script>
  function autoFill(name, house, street, town, pin, mobile, email) {
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 2000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })
    Toast.fire({
      icon: 'success',
      title: 'Address selected'
    })

    document.getElementById('fname').value = name
    document.getElementById('house').value = house
    document.getElementById('street').value = street
    document.getElementById('city').value = town
    document.getElementById('pin').value = pin
    document.getElementById('phone').value = mobile
    document.getElementById('email').value = email


  }
</script>
<script>
  function couponApply() {
    console.log("tisssss calll....")
    let couponCode = document.getElementById('couponInput').value
    let couponTotal = document.getElementById('couponTotal').value
    $.ajax({
      url: '/couponApply',
      data: {
        Coupon: couponCode,
        Total: couponTotal
      },
      method: 'post',
      success: (response) => {
        if (response.couponSuccess) {
          let oldTotal = parseInt(document.getElementById('totalOriginal').innerHTML)
          document.getElementById('couponInput').readOnly = true
          let discount = oldTotal - parseInt(response.total)
          document.getElementById('discount').innerHTML = discount
          document.getElementById("ttlprc").innerHTML = response.total
          $('#discount').show()
          $('#discountLabel').show()
          $('#discounttd').show()
          $('#newTotal').show()
          $('#tdTotal').show()
          $('#totalOriginal').show()



          document.getElementById('totalOriginal').innerHTML = response.total
          $('#couponSuccess').show()
          $('#couponUsed').hide()
          $('#couponInvalid').hide()
          $('#couponExpired').hide()

        }
        if (response.couponUsed) {
          $('#couponUsed').show()
          $('#couponSuccess').hide()
          $('#couponInvalid').hide()
          $('#couponExpired').hide()
          $('#discount').hide()
          $('#discountLabel').hide()
        }
        if (response.invalidCoupon) {
          $('#couponInvalid').show()
          $('#couponSuccess').hide()
          $('#couponUsed').hide()
          $('#couponExpired').hide()
          $('#discount').hide()
          $('#discountLabel').hide()
        }
        if (response.couponExpired) {
          $('#couponExpired').show()
          $('#couponSuccess').hide()
          $('#couponInvalid').hide()
          $('#couponUsed').hide()
          $('#discount').hide()
          $('#discountLabel').hide()
        }
      }
    })
  }

</script>

<script>
  function applayWallet() {
    let walletval = document.getElementById('wallet').value
    let ttlpro = document.getElementById('Totalpro').value
    $.ajax({
      url: '/applayWallet',
      data: {
        wallet: walletval,
        Total: ttlpro
      },
      method: 'post',
      success: (response) => {
        console.log(response, response.total)
        if (response.walletSuccess) {
          document.getElementById('discount').innerHTML = response.total;
          document.getElementById("ttlprc").innerHTML = response.total;
          $('#discount').show()
          $('#discountLabel').show()
          $('#discounttd').show()

        } else {
          $('#valueNotCorrect').show()
        }

      }
    })

  }
</script>