<section class="trending-product section" style="margin-top: 12px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Your Orderd Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {{#each products}}
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Product -->
                <div class="single-product">
                    <div class="product-image">
                        <img src="/product-images/{{this.product._id}}a.jpg" class="card-img-top" alt="Product image">
                    </div>
                    <div class="product-info">
                        <span class="category button text-center mb-2">{{this.product.category}}</span>
                        <h4 class="title button text-center mb-2">
                            <a href="/view-singleProduct/{{this.product._id}}">{{this.product.name}}</a>
                        </h4>
                        <div class="form-group button text-center">
                            <button  class="btn ">Quantity: {{this.quantity}}</button>
                        </div>
                    </div>
                </div>
                <!-- End Single Product -->
            </div>
            {{/each}}
        </div>
    </div>
    </div>
</section>



<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-chevron-up"></i>
</a>