

<section class="blog-section section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>My Orders</h2>
          <p>There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form.</p>
        </div>
      </div>
    </div>
    <div class="row">
    {{#each orders}}
      <div class="col-lg-4 col-md-6 col-12">
        <!-- Start Single Blog -->
        <div class="single-blog">
          <div class="blog-content">
            {{! <a class="category" href="javascript:void(0)">Gaming</a> }}
            <h4>
              <a href="">Your order {{this.Status}}!</a>
            </h4>
            <p>{{this.deliveryDetails.Name }} You order has been {{this.Status}} !</p>
            <table class="table table-borderless">
              <tr>
                <td>
                  <div class="py-2">
                    <span class="d-block text-muted">Order Date</span>
                    <span>{{this.Time}}</span> <br>
                    <span>{{this.Date}}</span> 
                  </div>
                </td>
                <td>
                  <div class="py-2">
                    <span class="d-block text-muted">Order No</span>
                    <span>{{this._id}}</span>
                  </div>
                </td>
              </tr>
            </table>
            <table class="table table-borderless">
              <tr>
                 
                <td>
                  <div class="py-2">
                    <span class="d-block text-muted">Delivery Address</span>
                    <span>{{this.deliveryDetails.Name}} 
                        {{this.deliveryDetails.House}},{{this.deliveryDetails.Street}}, <br>
                        {{this.deliveryDetails.Town}},{{this.deliveryDetails.PIN}},{{this.deliveryDetails.Mobile}}
                    </span>
                  </div>
                </td>
                <td>
                </td>
              </tr>
            </table>

            <table class="table table-borderless">
              <tr>
                <td>
                  <div class="py-2">
                    <span class="d-block text-muted">Payment</span>
                    <span>{{this.PaymentMethod}}</span>
                  </div>
                </td>
                  <td>
                  <div class="py-2">
                    <span class="d-block text-muted">Order Status</span>
                    <span>{{this.Status}}</span>
                  </div>
                </td> 
                <td>
                  <div class="py-2">
                    <div class="text-left">
                      <span
                        class="text-muted"
                        style="font-size: larger;"
                      ><strong>Totel</strong></span>
                    </div>
                    <span>₹ {{this.Total}}</span>
                  </div>
                </td>
              </tr>
            </table>
            <div class="row">
            <div class="wish-button">
              {{#if this.Cancelled}}
              {{else}}
              <button id="cncl" type="button" onclick="cancelOrder('{{this._id}}')" class="btn btn-outline-danger p-2">Calncel</button>
              {{/if}}
              <a class="btn btn-outline-primary p-2"  href="/singleOrder/{{this._id}}" >view product</a>
            </div>
            </div>
          </div>
        </div>
        <!-- End Single Blog -->
      </div>
    {{/each}}
    </div>
  </div>
</section>


  